@media(max-width:1199px){
.creatives{
    margin-top:120px;

}


.comment{
    width: 251px;
}
.client{
    padding-top:123px;
    padding-bottom:123px;
}
.design{
    line-height: 16px;
}
.container{
    width: 100%;
}

}
@media(max-width:991px){
    .creatives{
        font-size: 46px;
        margin-bottom:24px;
    }
    .brand{
        font-size: 29px;
        width: 373px;
    }
    .marketing{
        font-size: 16px;
        line-height: 27px;
        width: 365px;
    }
    .graphic{
        top:53%;
        width: 222px;
    }
    .design{
        font-size: 25px;
        line-height: 6px;
    }
    .clients{
        padding-top:103px;
        padding-bottom:103px;
    }
    
    .profile{
        margin-bottom:37px;
    }
    .comment{
        width: 199px;
        line-height: 27px;
        padding-bottom: 41px;
        font-size: 16px;
    }
    .trans{
        padding-top:30px;
        padding-bottom:30px;
    }
    .artwork{
        font-size: 14px;
        line-height: 21px;
    }
    .icon{
        margin-top:62px;
    }


}
@media(max-width:767px){
    .main-toggle{
        display: block;
        border:none;
        background:transparent;
    }
    .nav{
        display: none;
    }
    .creatives{
        margin-top:48px;
        font-size: 44px;;
    }
    .brand{
        line-height: 33px;
        font-size: 22px;
        padding-left: 36px;
        width: 253px;
        text-align: center;
    }
    .marketing{
        width: 248px;
        padding-left:27px;
        padding-top:19px;
        padding-bottom:19px;
        text-align: center;
    }
    .learn{
        padding-left:75px;
        line-height: 0;
        font-size: 15px;
    }
    .design{
        font-size: 18px;
        margin-top:10px;
        
    }
    .artwork{
        font-size: 11px;
    }
    .client{
        padding-top:70px;
        padding-bottom:70px;
    }
    .client .row{
       flex-wrap: wrap;
       display: inline-block;
    }
    .testimonial{
        padding-bottom:40px;
    }
    .deliver{
        margin:0 auto;
    }
    .profile{
        margin-top:0;
        margin-left:129px;
    }
    .comment{
        width: 332px;
        padding-bottom:17px;
    }
    .author{
        width: 323px;
    }
    .proffession{
        display: block;
        width: 322px;
        padding-bottom:50px;
    }


}
@media(max-width:565px){
    .transform .row{
        flex-wrap: wrap;
        margin:0 auto;
        align-items: center;
    }
    .client .row{
        flex-wrap: wrap;
        display: inline-block;
      
    }
    .products .row{
        flex-wrap: wrap;
        
    }
    .brand{
        font-size: 32px;
        line-height: 39px;
        width: 400px;
        padding-left:36px;
    }
    .marketing{
        width: 386px;
        padding-left:56px;
        padding-top:24px;
        padding-bottom:32px;
        font-size: 18px;
        line-height: 30px;
    }
    .column2{
        width: 100%;
    }
    .learn{
        padding-left:163px;
    }
    .graphic{
      
        width: 305px;
    }
    .orange{
        height: none;
    }
    .profile{
        margin-top:0;
        margin-left:103px;
    }
    .testimonial{
        padding-bottom:64px;
    }
    .comment{
        width: 278px;
        line-height: 32px;
        font-size: 18px;
        padding-bottom:32px;
    }
    .author{
        width: 269px;
    }
    .proffession{
        display: block;
        width: 273px;
        padding-bottom:64px;
    }
    .design{
        font-size: 28px;
        line-height: 35px;
    }
    .artwork{
        font-size: 16px;
        line-height: 27px;
    }
    .column4{
        width: 50%;


    }
    .footer-menu:nth-child(3){
        margin-right:0;
    }
    


}
@media(max-width:480px){
.creatives{
    font-size: 26px;
    line-height: 56px;
    padding-right:23px;
    letter-spacing: 1px;
}
.brand{
    width: 286px;
}
.marketing{
    width: 274px;
}
.learn{
    padding-left:115px;
}
.artwork{
    width: 216px;
    font-size: 15px;
    line-height: 17px;
    margin:0 auto;
}
.design{
    margin-bottom: auto;
    font-size: 20px;
}
.profile{
    margin-left:63px;

}
.comment{
    width: 204px;
}
.author{
    width: 184px;
}
.proffession{
    width: 194px;
}
.logotip{
   
    margin-left:-49px;
}
 .row .menu{
    flex-wrap: wrap;
}
.testimonial{
    font-size: 12px;
    width: 100px;
    margin: 0 auto;
    letter-spacing: 1px;
}
.sun{
    width: 140px;
}
.main-toggle{
    margin-right:41px;
}
.footer-menu{
    margin-right:30px;
}
}